---
layout: default
---

<h1>Shinkyokushin karate </h1>


<div class="karate">

  <ul>
    {% for k in site.karate %}
    <li>
      <a href="{{ site.baseurl }}{{ k.url }}">{{ k.title }}</a>
      <br />
      {% assign categories = k.categories %}

    </li>
    {% endfor %}
  </ul>

</div>

<div class="karate">
  <h2>Pozycje</h2>


  <ul>
    {% for k in site.karate_pozycje %}
    <li>
      <a href="{{ site.baseurl }}{{ k.url }}">{{ k.title }}</a>
      <br />
      {% assign categories = k.categories %}

    </li>
    {% endfor %}
  </ul>
  {% include youtube.html id='1ZXEpN3Vovs' %}
</div>